.blue .cg-board-wrap {
  background-image: url('blue.svg');
}

.merida .cg-board-wrap piece.pawn.black {
  background-image: url('apple.svg');
}

.merida .cg-board-wrap piece.knight.white {
  background-image: url('wN.svg');
}

#board {
  margin: 5px;
  padding: 5px;
}
